## Projeto Renner: Como proteger a receita das empresas com a abertura de novas lojas

In [ ]:
!pip install mplcyberpunk

In [50]:
import pandas as pd
import matplotlib.pyplot as plt
import mplcyberpunk

plt.style.use('cyberpunk')

### Coleta e tratamento de dados

#### Passo 1 - Ler e tratar os dados de lojas atuais

#### Lendo uma aba da planilha

In [51]:
aba_planilha = 'Lista de Lojas | Stores List'

#### Escolhendo as colunas da tabela

In [52]:
planilha_renner = pd.read_excel('lojas_renner.xlsx', sheet_name = aba_planilha, skiprows = 5,
                               usecols= ['Business', 'Country', 'UF', 'State', 'City', 'Opening date',
                                        'Shopping Mall / Street'])

planilha_renner

,Business,Opening date,Country,UF,State,City,Shopping Mall / Street
0,Renner,2023-12-21 00:00:00,Uruguay,UY,Uruguay,Maldonado,Shopping Mall
1,Youcom,2023-11-30 00:00:00,Brazil,BA,Bahia,Salvador,Shopping Mall
2,Renner,2023-11-30 00:00:00,Brazil,ES,Espírito Santo,Aracruz,Shopping Mall
3,Youcom,2023-11-30 00:00:00,Brazil,BA,Bahia,Lauro de Freitas,Shopping Mall
4,Youcom,2023-11-23 00:00:00,Brazil,SP,São Paulo,São Paulo,Shopping Mall
...,...,...,...,...,...,...,...
775,Rio de Janeiro,41,4,57,NaN,NaN,NaN
776,São Paulo,119,48,209,NaN,NaN,NaN
777,Uruguay,11,0,11,NaN,NaN,NaN
778,Argentina,4,0,4,NaN,NaN,NaN
779,Total,424,124,671,NaN,NaN,NaN

#### Removendo os dados NaN

In [53]:
planilha_renner = planilha_renner.dropna()

planilha_renner

,Business,Opening date,Country,UF,State,City,Shopping Mall / Street
0,Renner,2023-12-21 00:00:00,Uruguay,UY,Uruguay,Maldonado,Shopping Mall
1,Youcom,2023-11-30 00:00:00,Brazil,BA,Bahia,Salvador,Shopping Mall
2,Renner,2023-11-30 00:00:00,Brazil,ES,Espírito Santo,Aracruz,Shopping Mall
3,Youcom,2023-11-30 00:00:00,Brazil,BA,Bahia,Lauro de Freitas,Shopping Mall
4,Youcom,2023-11-23 00:00:00,Brazil,SP,São Paulo,São Paulo,Shopping Mall
...,...,...,...,...,...,...,...
735,Renner,1980-09-01 00:00:00,Brazil,RS,Rio Grande do Sul,Santa Maria,Street
736,Renner,1977-11-01 00:00:00,Brazil,RS,Rio Grande do Sul,Porto Alegre,Street
737,Renner,1976-04-10 00:00:00,Brazil,RS,Rio Grande do Sul,Canoas,Shopping Mall
738,Renner,1970-12-04 00:00:00,Brazil,RS,Rio Grande do Sul,Porto Alegre,Shopping Mall
739,Renner,1967-06-01 00:00:00,Brazil,RS,Rio Grande do Sul,Pelotas,Street

#### Filtrando dados da tabela

In [54]:
planilha_renner = planilha_renner[(planilha_renner['Business'] == 'Renner') &
                                  (planilha_renner['Country'] == 'Brazil')] 

planilha_renner

,Business,Opening date,Country,UF,State,City,Shopping Mall / Street
2,Renner,2023-11-30 00:00:00,Brazil,ES,Espírito Santo,Aracruz,Shopping Mall
8,Renner,2023-11-09 00:00:00,Brazil,SP,São Paulo,São Paulo,Shopping Mall
10,Renner,2023-10-27 00:00:00,Brazil,RS,Rio Grande do Sul,Montenegro,Street
11,Renner,2023-10-17 00:00:00,Brazil,MG,Minas Gerais,Ituiutaba,Shopping Mall
12,Renner,2023-10-11 00:00:00,Brazil,SC,Santa Catarina,Videira,Shopping Mall
...,...,...,...,...,...,...,...
735,Renner,1980-09-01 00:00:00,Brazil,RS,Rio Grande do Sul,Santa Maria,Street
736,Renner,1977-11-01 00:00:00,Brazil,RS,Rio Grande do Sul,Porto Alegre,Street
737,Renner,1976-04-10 00:00:00,Brazil,RS,Rio Grande do Sul,Canoas,Shopping Mall
738,Renner,1970-12-04 00:00:00,Brazil,RS,Rio Grande do Sul,Porto Alegre,Shopping Mall
739,Renner,1967-06-01 00:00:00,Brazil,RS,Rio Grande do Sul,Pelotas,Street

#### Convertendo para data sem a hora

In [55]:
planilha_renner['Opening date'] = pd.to_datetime(planilha_renner['Opening date']).dt.date

planilha_renner

C:\Users\home\AppData\Local\Temp\ipykernel_8276\439265232.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  planilha_renner['Opening date'] = pd.to_datetime(planilha_renner['Opening date']).dt.date

,Business,Opening date,Country,UF,State,City,Shopping Mall / Street
2,Renner,2023-11-30,Brazil,ES,Espírito Santo,Aracruz,Shopping Mall
8,Renner,2023-11-09,Brazil,SP,São Paulo,São Paulo,Shopping Mall
10,Renner,2023-10-27,Brazil,RS,Rio Grande do Sul,Montenegro,Street
11,Renner,2023-10-17,Brazil,MG,Minas Gerais,Ituiutaba,Shopping Mall
12,Renner,2023-10-11,Brazil,SC,Santa Catarina,Videira,Shopping Mall
...,...,...,...,...,...,...,...
735,Renner,1980-09-01,Brazil,RS,Rio Grande do Sul,Santa Maria,Street
736,Renner,1977-11-01,Brazil,RS,Rio Grande do Sul,Porto Alegre,Street
737,Renner,1976-04-10,Brazil,RS,Rio Grande do Sul,Canoas,Shopping Mall
738,Renner,1970-12-04,Brazil,RS,Rio Grande do Sul,Porto Alegre,Shopping Mall
739,Renner,1967-06-01,Brazil,RS,Rio Grande do Sul,Pelotas,Street

### Passo 2 - Ler e tratar dados dos munícipios brasileiros

Vamos no SIDRA, do IBGE.

https://sidra.ibge.gov.br/pesquisa/censo-demografico/demografico-2022/primeiros-resultados-populacao-e-domicilios

<br>

https://sidra.ibge.gov.br/pesquisa/pib-munic/tabelas

In [56]:
pib_municipios = pd.read_excel('pib_municipios.xlsx')

pop_municipios = pd.read_excel('populacao_municipios.xlsx')

pop_municipios

                            City      pop
0     Alta Floresta D'Oeste (RO)    21494
1                 Ariquemes (RO)    96833
2                    Cabixi (RO)     5351
3                    Cacoal (RO)    86887
4                Cerejeiras (RO)    15890
...                          ...      ...
5565             Vianópolis (GO)    14956
5566         Vicentinópolis (GO)     8768
5567               Vila Boa (GO)     4215
5568          Vila Propício (GO)     5815
5569               Brasília (DF)  2817381

[5570 rows x 2 columns]

#### Juntando as tabelas - Merge

In [57]:
dados_municipios = pib_municipios.merge(pop_municipios, on = 'City')

dados_municipios

                            City        pib      pop
0     Alta Floresta D'Oeste (RO)     734469    21494
1                 Ariquemes (RO)    3209761    96833
2                    Cabixi (RO)     238412     5351
3                    Cacoal (RO)    2792383    86887
4                Cerejeiras (RO)     743037    15890
...                          ...        ...      ...
5565             Vianópolis (GO)     857968    14956
5566         Vicentinópolis (GO)     480173     8768
5567               Vila Boa (GO)     179899     4215
5568          Vila Propício (GO)     308013     5815
5569               Brasília (DF)  286943782  2817381

[5570 rows x 3 columns]

#### Calcular o pib per capita

In [58]:
dados_municipios['pib_per_capita'] = dados_municipios['pib'] / dados_municipios['pop']

dados_municipios

                            City        pib      pop  pib_per_capita
0     Alta Floresta D'Oeste (RO)     734469    21494       34.170885
1                 Ariquemes (RO)    3209761    96833       33.147388
2                    Cabixi (RO)     238412     5351       44.554663
3                    Cacoal (RO)    2792383    86887       32.138099
4                Cerejeiras (RO)     743037    15890       46.761296
...                          ...        ...      ...             ...
5565             Vianópolis (GO)     857968    14956       57.366141
5566         Vicentinópolis (GO)     480173     8768       54.764256
5567               Vila Boa (GO)     179899     4215       42.680664
5568          Vila Propício (GO)     308013     5815       52.968702
5569               Brasília (DF)  286943782  2817381      101.847703

[5570 rows x 4 columns]

#### Separando a cidade e estado em novas colunas

In [59]:
dados_municipios[['City', 'UF']] = dados_municipios['City'].str.split('(', expand = True)

dados_municipios

                        City        pib      pop  pib_per_capita   UF
0     Alta Floresta D'Oeste      734469    21494       34.170885  RO)
1                 Ariquemes     3209761    96833       33.147388  RO)
2                    Cabixi      238412     5351       44.554663  RO)
3                    Cacoal     2792383    86887       32.138099  RO)
4                Cerejeiras      743037    15890       46.761296  RO)
...                      ...        ...      ...             ...  ...
5565             Vianópolis      857968    14956       57.366141  GO)
5566         Vicentinópolis      480173     8768       54.764256  GO)
5567               Vila Boa      179899     4215       42.680664  GO)
5568          Vila Propício      308013     5815       52.968702  GO)
5569               Brasília   286943782  2817381      101.847703  DF)

[5570 rows x 5 columns]

In [75]:
dados_municipios['UF'] = dados_municipios['UF'].str.replace(")", "")

dados_municipios

                       City        pib      pop  pib_per_capita  UF
0     Alta Floresta D'Oeste     734469    21494       34.170885  RO
1                 Ariquemes    3209761    96833       33.147388  RO
2                    Cabixi     238412     5351       44.554663  RO
3                    Cacoal    2792383    86887       32.138099  RO
4                Cerejeiras     743037    15890       46.761296  RO
...                     ...        ...      ...             ...  ..
5565             Vianópolis     857968    14956       57.366141  GO
5566         Vicentinópolis     480173     8768       54.764256  GO
5567               Vila Boa     179899     4215       42.680664  GO
5568          Vila Propício     308013     5815       52.968702  GO
5569               Brasília  286943782  2817381      101.847703  DF

[5570 rows x 5 columns]

#### Tratando os espaços em branco

In [76]:
dados_municipios['City'] = dados_municipios['City'].str.strip()
dados_municipios['UF'] = dados_municipios['UF'].str.strip()
planilha_renner['City'] = planilha_renner['City'].str.strip()
planilha_renner['UF'] = planilha_renner['UF'].str.strip()


dados_municipios

C:\Users\home\AppData\Local\Temp\ipykernel_8276\2396402279.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  planilha_renner['City'] = planilha_renner['City'].str.strip()
C:\Users\home\AppData\Local\Temp\ipykernel_8276\2396402279.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  planilha_renner['UF'] = planilha_renner['UF'].str.strip()

                       City        pib      pop  pib_per_capita  UF
0     Alta Floresta D'Oeste     734469    21494       34.170885  RO
1                 Ariquemes    3209761    96833       33.147388  RO
2                    Cabixi     238412     5351       44.554663  RO
3                    Cacoal    2792383    86887       32.138099  RO
4                Cerejeiras     743037    15890       46.761296  RO
...                     ...        ...      ...             ...  ..
5565             Vianópolis     857968    14956       57.366141  GO
5566         Vicentinópolis     480173     8768       54.764256  GO
5567               Vila Boa     179899     4215       42.680664  GO
5568          Vila Propício     308013     5815       52.968702  GO
5569               Brasília  286943782  2817381      101.847703  DF

[5570 rows x 5 columns]

#### Juntando os dados dos municípios com os da Renner

In [77]:
dados_lojas_economia = dados_municipios.merge(planilha_renner, on = ['City', 'UF'])

dados_lojas_economia

,City,pib,pop,pib_per_capita,UF,Business,Opening date,Country,State,Shopping Mall / Street
0,Cacoal,2792383,86887,32.138099,RO,Renner,2021-04-05,Brazil,Rondônia,Shopping Mall
1,Porto Velho,20059522,460434,43.566552,RO,Renner,2008-10-30,Brazil,Rondônia,Shopping Mall
2,Rio Branco,10955675,364756,30.035627,AC,Renner,2011-11-08,Brazil,Acre,Shopping Mall
3,Manaus,103281436,2063689,50.046996,AM,Renner,2014-12-11,Brazil,Amazonas,Street
4,Manaus,103281436,2063689,50.046996,AM,Renner,2014-11-28,Brazil,Amazonas,Shopping Mall
...,...,...,...,...,...,...,...,...,...,...
422,Brasília,286943782,2817381,101.847703,DF,Renner,2009-06-25,Brazil,Distrito Federal,Shopping Mall
423,Brasília,286943782,2817381,101.847703,DF,Renner,2007-10-23,Brazil,Distrito Federal,Shopping Mall
424,Brasília,286943782,2817381,101.847703,DF,Renner,2001-05-08,Brazil,Distrito Federal,Shopping Mall
425,Brasília,286943782,2817381,101.847703,DF,Renner,2000-11-16,Brazil,Distrito Federal,Shopping Mall
426,Brasília,286943782,2817381,101.847703,DF,Renner,1999-12-03,Brazil,Distrito Federal,Shopping Mall

# Análise exploratória dos dados

------------------

## Passo 3: Observar as características atuais das lojas.

### % em shoppings