# 1 - Importando módulos necessários

In [1]:
!pip install quantstats

Collecting quantstats
  Obtaining dependency information for quantstats from https://files.pythonhosted.org/packages/bc/02/306226b38cc51972853f56866a566f224cf3855d1e3b492a774fb00c71a5/QuantStats-0.0.62-py2.py3-none-any.whl.metadata
  Downloading QuantStats-0.0.62-py2.py3-none-any.whl.metadata (8.9 kB)
Requirement already satisfied: pandas>=0.24.0 in c:\users\home\anaconda3\lib\site-packages (from quantstats) (2.0.3)
Requirement already satisfied: numpy>=1.16.5 in c:\users\home\anaconda3\lib\site-packages (from quantstats) (1.24.3)
Requirement already satisfied: seaborn>=0.9.0 in c:\users\home\anaconda3\lib\site-packages (from quantstats) (0.12.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\home\anaconda3\lib\site-packages (from quantstats) (3.7.2)
Requirement already satisfied: scipy>=1.2.0 in c:\users\home\anaconda3\lib\site-packages (from quantstats) (1.11.1)
Requirement already satisfied: tabulate>=0.8.0 in c:\users\home\anaconda3\lib\site-packages (from quantstats) (0.8.10)
Requirement already satisfied: yfinance>=0.1.70 in c:\users\home\anaconda3\lib\site-packages (from quantstats) (0.2.37)
Requirement already satisfied: python-dateutil>=2.0 in c:\users\home\anaconda3\lib\site-packages (from quantstats) (2.8.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\home\anaconda3\lib\site-packages (from matplotlib>=3.0.0->quantstats) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\home\anaconda3\lib\site-packages (from matplotlib>=3.0.0->quantstats) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\home\anaconda3\lib\site-packages (from matplotlib>=3.0.0->quantstats) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\home\anaconda3\lib\site-packages (from matplotlib>=3.0.0->quantstats) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\home\anaconda3\lib\site-packages (from matplotlib>=3.0.0->quantstats) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\home\anaconda3\lib\site-packages (from matplotlib>=3.0.0->quantstats) (9.4.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\home\anaconda3\lib\site-packages (from matplotlib>=3.0.0->quantstats) (3.0.9)
Requirement already satisfied: pytz>=2020.1 in c:\users\home\anaconda3\lib\site-packages (from pandas>=0.24.0->quantstats) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\home\anaconda3\lib\site-packages (from pandas>=0.24.0->quantstats) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\home\anaconda3\lib\site-packages (from python-dateutil>=2.0->quantstats) (1.16.0)
Requirement already satisfied: requests>=2.31 in c:\users\home\anaconda3\lib\site-packages (from yfinance>=0.1.70->quantstats) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\home\anaconda3\lib\site-packages (from yfinance>=0.1.70->quantstats) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in c:\users\home\anaconda3\lib\site-packages (from yfinance>=0.1.70->quantstats) (4.9.3)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\home\anaconda3\lib\site-packages (from yfinance>=0.1.70->quantstats) (1.4.4)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\home\anaconda3\lib\site-packages (from yfinance>=0.1.70->quantstats) (2.4.1)
Requirement already satisfied: peewee>=3.16.2 in c:\users\home\anaconda3\lib\site-packages (from yfinance>=0.1.70->quantstats) (3.17.1)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\home\anaconda3\lib\site-packages (from yfinance>=0.1.70->quantstats) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in c:\users\home\anaconda3\lib\site-packages (from yfinance>=0.1.70->quantstats) (1.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\home\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance>=0.1.70->quantstats) (2.4)
Requirement already satisfied: webencodings in c:\users\home\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance>=0.1.70->quantstats) (0.5.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\home\anaconda3\lib\site-packages (from requests>=2.31->yfinance>=0.1.70->quantstats) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\home\anaconda3\lib\site-packages (from requests>=2.31->yfinance>=0.1.70->quantstats) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\home\anaconda3\lib\site-packages (from requests>=2.31->yfinance>=0.1.70->quantstats) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\home\anaconda3\lib\site-packages (from requests>=2.31->yfinance>=0.1.70->quantstats) (2023.7.22)
Downloading QuantStats-0.0.62-py2.py3-none-any.whl (45 kB)
   ---------------------------------------- 0.0/45.5 kB ? eta -:--:--
   -------- ------------------------------- 10.2/45.5 kB ? eta -:--:--
   -------------------------- ------------- 30.7/45.5 kB 640.0 kB/s eta 0:00:01
   ---------------------------------------- 45.5/45.5 kB 560.2 kB/s eta 0:00:00
Installing collected packages: quantstats
Successfully installed quantstats-0.0.62

In [2]:
import pandas as pd
import quantstats as qs

# 2 - Baixar os dados disponibilizados

In [4]:
dados_empresas = pd.read_csv('dados_empresas.csv')
dados_empresas

,data,ticker,preco_fechamento_ajustado,volume_negociado,dy
0,2019-04-30,AALR3,14.87,2569789.0,0.005640
1,2019-05-31,AALR3,13.90,1586619.0,0.006030
2,2019-06-30,AALR3,14.30,10832812.0,0.005863
3,2019-07-31,AALR3,14.67,2810704.0,0.005716
4,2019-08-31,AALR3,18.99,4488459.0,0.004415
...,...,...,...,...,...
47302,2023-07-31,ZAMP3,4.42,4634150.0,0.000000
47303,2023-08-31,ZAMP3,5.55,14211395.0,0.000000
47304,2023-09-30,ZAMP3,6.13,8921464.0,0.000000
47305,2023-10-31,ZAMP3,6.35,6714596.0,0.000000
47306,2023-11-30,ZAMP3,5.82,8694125.0,0.000000

# 3 - Calcular o retorno mensal das empresas

In [5]:
dados_empresas['retorno'] = dados_empresas.groupby('ticker')['preco_fechamento_ajustado'].pct_change()

dados_empresas

,data,ticker,preco_fechamento_ajustado,volume_negociado,dy,retorno
0,2019-04-30,AALR3,14.87,2569789.0,0.005640,NaN
1,2019-05-31,AALR3,13.90,1586619.0,0.006030,-0.065232
2,2019-06-30,AALR3,14.30,10832812.0,0.005863,0.028777
3,2019-07-31,AALR3,14.67,2810704.0,0.005716,0.025874
4,2019-08-31,AALR3,18.99,4488459.0,0.004415,0.294479
...,...,...,...,...,...,...
47302,2023-07-31,ZAMP3,4.42,4634150.0,0.000000,-0.028571
47303,2023-08-31,ZAMP3,5.55,14211395.0,0.000000,0.255656
47304,2023-09-30,ZAMP3,6.13,8921464.0,0.000000,0.104505
47305,2023-10-31,ZAMP3,6.35,6714596.0,0.000000,0.035889
47306,2023-11-30,ZAMP3,5.82,8694125.0,0.000000,-0.083465

In [6]:
dados_empresas['retorno'] = dados_empresas.groupby('ticker')['retorno'].shift(-1)

dados_empresas

,data,ticker,preco_fechamento_ajustado,volume_negociado,dy,retorno
0,2019-04-30,AALR3,14.87,2569789.0,0.005640,-0.065232
1,2019-05-31,AALR3,13.90,1586619.0,0.006030,0.028777
2,2019-06-30,AALR3,14.30,10832812.0,0.005863,0.025874
3,2019-07-31,AALR3,14.67,2810704.0,0.005716,0.294479
4,2019-08-31,AALR3,18.99,4488459.0,0.004415,0.005266
...,...,...,...,...,...,...
47302,2023-07-31,ZAMP3,4.42,4634150.0,0.000000,0.255656
47303,2023-08-31,ZAMP3,5.55,14211395.0,0.000000,0.104505
47304,2023-09-30,ZAMP3,6.13,8921464.0,0.000000,0.035889
47305,2023-10-31,ZAMP3,6.35,6714596.0,0.000000,-0.083465
47306,2023-11-30,ZAMP3,5.82,8694125.0,0.000000,NaN

# 4 - Filtrar liquidez